
.idea
.idea/
.DS_Store
node_modules/
.project
dist
dist/*
src/config/*.tmp
src/config/env.js
npm-debug.log
src/libs/assets/images/public/\._logo\.png

\._node_modules

*/\._*

*/.DS_Store
.DS_Store
node_modules/

npm-debug\.log
